.mapAndGraphsContainer {
  display: grid;
  height: 99vh;
  width: 100vw;
  grid-template-columns: 60% 40%;
  grid-template-rows: 70% 30%;
  background-color: d4d4d4;
}

.ChartBox {
  display: inline;
}

.ChartBoxMenuButton {
  border-bottom: none;
}

.DatetimeBox {
  background-color: lightgoldenrodyellow;
  display: flex;
  border:groove;
  margin: 2px 2px 2px 2px;
  padding: 2px;
}
.DatetimeBoxItem {
  padding: 2px;
}

.intersectionSelection{
  border-style: groove;
  background-color: rgb(210, 250, 237);
  min-height: 16mm;
  display: flex;
  margin: 2px 2px 2px 2px;
}

.intersectionSelection > div {
  display: flex;
  flex-wrap: wrap;
}

.intersectionSelectionItem {
  cursor: pointer;
  margin-top: 3px;
  margin-bottom: 3px ;
  margin-left: 1px;
  max-height: 40%;
  background-color: rgb(230, 231, 229);
}

.intersectionSelection>p {
  cursor: default;
  margin-top: 1mm;
  margin-right: 1mm;
  margin-left: 1mm;
}

.MapBox {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: span 2;
  border-style: none;
}

/* SVG-styling related to the Graph component  */
.path {
  fill: none;
  stroke-width: 0.5;
  shape-rendering: optimizeSpeed;
}

.GraphPopup {
  stroke: none;
  fill: black;
  text-anchor: start;
  font-size: 3;
  dominant-baseline: middle;
}

.highlighted {
  stroke: #aaaaaa;
}
.textpath.highlighted {
  stroke: none;
  fill: black;
}
.textpath {
  stroke: none;
  fill: black;
}

text {
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
}

/************************/

.BoxHeader {
  background-color: #aadd11;
  text-align: center;
  grid-column-start: span 2;
}

.InfoBox {
  grid-column-start: span 2;
}

.DatetimeSelector {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
}

.DatetimeSelector > p,
.DatetimeSelector > form,
.DatetimeSelector > div {
  background-color: #ddffaa;
}

.DropdownBtn {
  top: 0px;
  background-color: white;
  margin: 3px 3px 3px 3px;
}

/*****************************************/

.Header {
  margin: auto;
  display: grid;
  height: 20vh;
  grid-template-columns: 50% 50%;
}

.charts {
  width: 100%;
  display: grid;
  background-color: #c7ebe6;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: auto auto auto auto;
}

.box {
  border-style: groove;
  margin: 2px 2px 2px 2px;
  height:100%
}

.chart {
  height:92%;
  background-color:rgb(230, 231, 229);
  border-style: groove;
  border-width: 1px;
  margin: 2px 2px 2px 2px;
}

.Bar {
  fill: #73b9ff;
  stroke: #000000;
  stroke-width: 1px;
  rx: 2px;
}

table,
th,
td {
  border: 1px solid #ffebe6;
  background-color: #00ffaa;
  border-collapse: collapse;
  color: #1d8989;
}

/************ Date selector *****************/

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
::-webkit-clear-button {
  display: none; /* Hide the button */
  -webkit-appearance: none; /* turn off default browser styling */
}
/*****************************************/

.RunButton {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image: url("./constants/images/run.png");
}

.PauseButton {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image: url("./constants/images/pause.png");
}

.Map {
  height: 100%;
  width: 100%;
}

.Tooltip {
  width: 17vw;
  white-space: normal;
}

.Tooltip.event > p:first-child {
  background-color: lightblue;
}
.Tooltip.tweet > p:first-child {
  background-color: red;
}
.Tooltip.disturbance > p:first-child {
  background-color: orange;
}

.CustomMapControls {
  position: fixed;
  bottom: 0;
  left: 5;
  display: inline;
}
.CustomMapControls > button {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}
.CustomMapControls > button:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.CustomMapControls > button.down {
  position: relative;
  top: 1px;
  left: 1px;
}

.Transparency {
  opacity: 1;
}
