.graph {
    width:100vw;
    height:100vh;
}

.laneText {
    font: 8px sans-serif;
}

.street {
    mix-blend-mode: normal;
}

.Map{
    background-color: #444444;
    background-image: url("./constants/images/map.svg");
    object-fit: cover;
    object-position: -20% 0;
    width: auto;
    height: 100vh;
}
