.mapAndGraphsContainer {
  display: grid;
  height: 99vh;
  width: 100vw;
  grid-template-columns: 60% 40%;
  grid-template-rows: 70% 30%;
}

.GraphBox {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 91% 9%;
  border-style: none;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
}

.DatetimeBox {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.MapBox {
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: span 2;
  border-style: none;
}

/* SVG-styling related to the Graph component  */
.hLine {
  stroke: black;
  stroke-width: 0.5;
  fill: transparent;
  shape-rendering: optimizeSpeed;
}

.hLabel {
  font-size: 0.15em;
  fill: black;
  text-anchor: end;
}

.dateLine {
  stroke: black;
  stroke-width: 0.1;
  fill: transparent;
}

.dateLabel {
  fill: black;
  font-size: 3px;
  text-anchor: middle;
}

.path {
  fill: transparent;
  stroke-width: 0.2;
  shape-rendering: optimizeSpeed;
}

.highlighted {
  stroke: #aaaaaa;
}

.disturbance {
  height: 100px;
  fill: #ff3355;
  opacity: 0.3;
  y: 0;
}

.laneText {
  font: 8px sans-serif;
}

body {
  font-family: Noto Sans;
  margin: 0;
  height: 100vh;
}

/************************/

.BoxHeader {
  background-color: #aadd11;
  text-align: center;
  grid-column-start: span 2;
}

.InfoBox {
  grid-column-start: span 2;
}

.DatetimeSelector {
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
}

.DatetimeSelector > p,
.DatetimeSelector > form,
.DatetimeSelector > div {
  background-color: #ddffaa;
}

.DropdownBtn {
  top: 0px;
  background-color: white;
  margin: 3px 3px 3px 3px;
}

/*****************************************/

.Header {
  margin: auto;
  display: grid;
  height: 20vh;
  grid-template-columns: 50% 50%;
}

.charts {
  width: 100%;
  margin: auto;
  display: grid;
  background-color: #c7ebe6;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: auto auto auto auto;
}

.chart {
  background-color: #ffff00;
  height: 25vw;
}

.Bar {
  fill: #73b9ff;
  stroke: #000000;
  stroke-width: 1px;
  rx: 2px;
}

table,
th,
td {
  border: 1px solid #ffebe6;
  background-color: #00ffaa;
  border-collapse: collapse;
  color: #1d8989;
}

/************ Date selector *****************/

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
::-webkit-clear-button {
  display: none; /* Hide the button */
  -webkit-appearance: none; /* turn off default browser styling */
}
/*****************************************/

.RunButton {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image: url("./constants/images/run.png");
}

.PauseButton {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image: url("./constants/images/pause.png");
}

.Map {
  height: 100%;
  width: 100%;
}
